 [flake8]
exclude = .venv,__pycache__
# For black compatibility
max-line-length = 88

# Ignore some linting errors for some files
# F401 = Module imported but unused
# E501 = Line too long
per-file-ignores =
    __init__.py:F401,E501